.app-center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1200px;
}

.canvas-row {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
}

.canvas-wrapper {
  position: relative;
  flex: 1;
  overflow: auto;
  background-color: rgb(179, 196, 196);
}

.canvas-svg {
  width: 800px;
  height: 500px;
  display: block;
  background: #aaa;
  touch-action: none;
}

.panel {
  box-sizing: border-box;
  background: #d4d492;
  width: 200px;
  flex-shrink: 0;
  padding: 10px;
}

.toolbar {
  box-sizing: border-box;
  background: rgb(105, 130, 134);

  width: 100%;
  height: 100px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 5px;
  gap: 10px;
}
